<style>
    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        color: orange;
        cursor: pointer;
    }
</style>
<section class="content-header" id="op_section">
</section>

<section class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">分组</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        {{range $key,$data:=.sys_groupMenu}}
                        <li id="group_{{$data.id}}">
                            <a href="/list?pid={{$data.pid}}&gid={{$data.id}}">
                                <i class="fa fa-inbox"></i>
                                {{$data.name}}
                                <span class="label label-warning pull-right">{{$data.count}}</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="box box-danger" id="detail_list">
                <div class="box-header with-border">
                    <h3 class="box-title">列表</h3>

                    <div class="box-tools">
                        {{if eq .sys_op 1}}
                        <a href="#" id="group_modify" style="margin-right:10px"><i class="fa fa-gear"></i></a>
                        {{end}}

                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="bootstraptable">

                    </table>
                </div>
            </div>

            <div class="box box-danger" id="detail_info" style="display: none">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="label label-success pull-left" style="margin-right: 10px">{{.sys_detail_data.request_type}}</span>
                        {{.sys_detail_data.name}}
                    </h3>

                    <div class="pull-right">
                        {{if eq .sys_op 1}}
                        <a href="#" id="detail_modify" style="margin-right:10px"><i class="fa fa-gear"></i></a>
                        <a href="#" id="detail_delete" style="margin-right:10px"><i class="fa fa-trash"></i></a>
                        {{end}}
                        <a href="/list?pid={{.sys_pid}}&gid={{.sys_gid}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-body">
                    <h4>
                        <i class="fa fa-globe"></i> <b style="margin-right: 20px">URI</b> {{.sys_detail_data.uri}}
                    </h4>
                    <hr>
                    <h4>
                        <i class="fa fa-globe"></i> <b>参数</b>
                    </h4>
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 50%">参数名</th>
                            <th>说明</th>
                        </tr>
                        {{range $key,$data:=.sys_detail_data.param}}
                        <tr>
                            <td>{{$data.key}}</td>
                            <td>{{$data.value}}</td>
                        </tr>
                        {{end}}
                    </table>
                    <h4>
                        <i class="fa fa-globe"></i> <b>返回</b>
                    </h4>
                    <pre id="return_value"></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let table_data = '{{.sys_table_data}}';
    let op = '{{.sys_op}}';
    let pid = '{{.sys_pid}}';
    let gid = '{{.sys_gid}}';
    let aid = '{{.sys_aid}}';
    let return_value = '{{.sys_detail_data.return_value}}';

    $('#group_' + gid + ' a').css('border-left-color', '#DD4B39');

    function setTable() {
        $('#bootstraptable').bootstrapTable('destroy');
        $('#bootstraptable').bootstrapTable({
            data: JSON.parse(table_data),
            onClickRow: function (row) {
                window.location.href = "/list?pid=" + pid + "&gid=" + gid + "&aid=" + row.id
            },
            columns: [
                {
                    field: 'id',
                    visible: false
                },
                {
                    title: '接口名称',
                    field: 'name',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '接口uri',
                    field: 'uri',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '作者',
                    field: 'author',
                    align: 'center',
                    valign: 'middle',
                },
                {
                    title: '创建时间',
                    field: 'time',
                    align: 'center',
                    valign: 'middle',
                }
            ],
        });
    }

    function syntaxHighlight(json) {
        if (typeof json != 'string') {
            json = JSON.stringify(json, undefined, 2);
        }
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            let cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    $("#group_" + gid).addClass("active");

    if (table_data != 'null') {
        setTable();
    }

    if (aid != 0) {
        $('#detail_list').hide();
        $('#detail_info').show();

        $('#return_value').html(syntaxHighlight(JSON.parse(return_value)));
    }

    if (op == '1') {
        $('#op_section').append(
            "<h1>" +
            "<button class='btn btn-success' id='add_new_group'>新建分组</button> " +
            "<button class='btn btn-warning' id='add_new_detail'>添加接口</button> " +
            "<button class='btn btn-info' id='project_modify'>修改项目</button> " +
            "</h1>"
        )
    }

    $('#detail_modify').click(function () {
        $('.mod-modal').modal();
    });

    $('#detail_delete').click(function () {
        let cf = confirm("确认删除吗?")

        if (cf) {
            $.ajax({
                type: 'POST',
                url: '/list/delete',
                data: {
                    id: parseInt(aid),
                },
                success: function (redata) {
                    if (redata.status == 1) {
                        window.location.href = "/list?pid=" + pid + "&gid=" + gid;
                    } else {
                        alert("删除失败,status :" + redata.status);
                    }
                },
                error: function () {
                    alert("发生错误");
                }
            })
        }
    });

    $('#add_new_group').click(function () {
        let cf = prompt("请输入分组名称");

        if (cf != '' && cf != undefined && cf != null) {
            $.ajax({
                type: 'POST',
                url: '/list/addgroup',
                data: {
                    pid: parseInt(pid),
                    name: cf
                },
                success: function (redata) {
                    if (redata.status == 1) {
                        window.location.href = "/list?pid=" + pid;
                    } else {
                        alert("新建失败,status :" + redata.status);
                    }
                },
                error: function () {
                    alert("发生错误");
                }
            })
        }
    });

    $('#add_new_detail').click(function () {
        $('.new-modal').modal();
    });

    $('#project_modify').click(function () {
        let cf = prompt("请输入新的项目名称");

        if (cf != '' && cf != undefined && cf != null) {
            $.ajax({
                type: 'POST',
                url: '/list/updateproject',
                data: {
                    id: pid,
                    name: cf
                },
                success: function (redata) {
                    if (redata.status == 1) {
                        window.location.href = "/list?pid=" + pid;
                    } else {
                        alert("修改失败,status :" + redata.status);
                    }
                },
                error: function () {
                    alert("发生错误");
                }
            })
        }
    });

    $('#group_modify').click(function () {
        if (gid <= 0) {
            return false;
        }
        let cf = prompt("请输入新的组名称");

        if (cf != '' && cf != undefined && cf != null) {
            $.ajax({
                type: 'POST',
                url: '/list/updategroup',
                data: {
                    id: gid,
                    name: cf
                },
                success: function (redata) {
                    if (redata.status == 1) {
                        window.location.href = "/list?pid=" + pid + '&gid=' + gid;
                    } else {
                        alert("修改失败,status :" + redata.status);
                    }
                },
                error: function () {
                    alert("发生错误");
                }
            })
        }
    });
</script>

{{include "list/newmodal.html"}}
{{include "list/modmodal.html" .sys_detail_data}}