<section class="content-header">
    <h1>
        {{if eq .op 1}}
        {{print "<button class='btn btn-success'>新建分组</button> <button class='btn btn-warning'>添加接口</button>"}}
        {{end}}
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">分组</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        {{range $key,$data:=.groupMenu}}
                        <li class="group_li" data-id="{{$data.id}}">
                            <a href="#">
                                <i class="fa fa-inbox"></i>
                                {{$data.name}}
                                <span class="label label-warning pull-right">{{$data.count}}</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">列表</h3>
                </div>
                <div class="box-body">
                    <table id="bootstraptable">

                    </table>
                </div>
                <div class="box-footer no-padding">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.operateEvents = {
        'click .modify-btn': function (e, value, row, index) {
        },
        'click .del-btn': function (e, value, row, index) {
        },
    };

    function operateFormatter(value, row, index) {
        let arr = [
            '<button class="modify-btn btn btn-warning" type="button">',
            '修改',
            '</button>  ', ' ',
            '<button class="del-btn btn btn-danger" type="button">',
            '删除',
            '</button>  ',
        ];

        return arr.join('');
    }

    $('.group_li').click(function () {
        $('#bootstraptable').bootstrapTable('destroy');
        $('#bootstraptable').bootstrapTable({
            url: '/list/data?gid=' + $(this).attr('data-id'),
            columns: [
                {
                    field: 'id',
                    visible: false
                },
                {
                    title: '接口名称',
                    field: 'name',
                    align: 'center'
                },
                {
                    title: '接口uri',
                    field: 'uri',
                    align: 'center'
                },
                {
                    title: '作者',
                    field: 'author',
                    align: 'center'
                },
                {
                    title: '创建时间',
                    field: 'time',
                    align: 'center'
                },
                {
                    title: '操作',
                    field: 'operate',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                }
            ]
        });
    })
</script>