<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            {{range $key,$data:=.bigMenu}}
            <li class="treeview" id="project_{{$data.id}}">
                <a href="/list?pid={{$data.id}}">
                    <i class="fa fa fa-book"></i>
                    <span>{{$data.name}}</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">{{$data.count}}</small>
                    </span>
                </a>
            </li>
            {{end}}
            <li class="treeview" id="add_project">
                <a href="#" style="margin-left: 25%;margin-right: 25%">
                    <span>
                        <i class="fa fa fa-plus-circle"></i>
                        新建项目
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>

<script>
    $("#project_{{.pid}}").addClass("active");

    $('#add_project').click(function () {
        let cf = prompt("请输入项目名称");

        if (cf != '' && cf != undefined && cf != null) {
            $.ajax({
                type: 'POST',
                url: '/list/addproject',
                data: {
                    name: cf
                },
                success: function (redata) {
                    if (redata.status == 1) {
                        window.location.href = "/list?pid=" + redata.id;
                    } else {
                        alert("添加失败" + redata.status);
                    }
                },
                error: function () {
                    alert("发生错误");
                }
            })
        }
    });
</script>