<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            {{range $key,$data:=.bigMenu}}
            <li class="treeview" id="project_{{$data.id}}">
                <a href="/list?pid={{$data.id}}">
                    <i class="fa fa fa-book"></i>
                    <span>{{$data.name}}</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">{{$data.count}}</small>
                    </span>
                </a>
            </li>
            {{end}}
        </ul>
    </section>
</aside>

<script>
    $("#project_{{.pid}}").addClass("active");
</script>